.mondai {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 200px;
    font-size: 5rem;
}
td, th {
    border: 2px rgb(0, 0, 0) solid;
}

.qbtn {/* ボタン全体の書式設定 */
    flex-flow: row wrap;
    justify-content: space-around;
}

#move1 {
    visibility: visible;
}

#move2 {
    visibility: hidden;
}

#move3 {
    visibility: hidden;
}

#move4 {
    visibility: hidden;
}
#move5 {
    visibility: hidden;
}

#move6 {
    visibility: hidden;
}

#move7 {
    visibility: hidden;
}

#move8 {
    visibility: hidden;
}